/*
**	Markup for the login page.
*/

@media only screen 
	and (min-width : 768px) 
	and (max-width : 1250px)
{
	body img.paper
	{
		width: 240px !important;
	}
	
	body img.supplies
	{
		left: 30px !important;
	}
	
	body img.coffee
	{
		bottom: 180px !important;
		left: 10px !important;
	}
}